<h2>Witam u nas</h2>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://fwcdn.pl/fph/91/90/9190/314652.2.jpg" class="card-img-top" alt="Rocky Balboa">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Rocky Balboa</a>
                </li>
                </ul>
            <div class="card-body">
              <p class="card-text">Historia Rocky'ego Balboa, boksera-amatora, któremu nadarza się okazja stoczenia walki o tytuł mistrza świata wagi ciężkiej.</p>
            </div>
          </div>
        
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://fwcdn.pl/fph/09/97/997/238227.2.jpg" class="card-img-top" alt="John Rambo">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">John Rambo</a>
                </li>
                </ul>
            <div class="card-body">
              <p class="card-text">John Rambo, w zamian za wyjście z więzienia, zgadza się na odszukanie amerykańskich jeńców wojennych przetrzymywanych na terenie Wietnamu.</p>
            </div>
          </div>
        
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://fwcdn.pl/fph/91/91/9191/403843.2.jpg" class="card-img-top" alt="Rocky Balboa II">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Rocky Balboa II</a>
                </li>
                </ul>
            <div class="card-body">
              <p class="card-text">Rocky poślubia Adrian i na rzecz rodziny postanawia porzucić boks. Tymczasem jego przeciwnik, Apollo, pragnie rewanżu za poprzednią walkę.</p>
            </div>
          </div>
        
      </div>
    </div>
  </div>

  <p class="text-xl-start">Jesteśmy drużyną Rockich. Zapraszamy do współpracy.</p>